
@mixin bounds($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin bounds-all($value) {
  top: $value;
  right: $value;
  bottom: $value;
  left: $value;
}