{
  "presets": [
    "next/babel"
  ],
  "ignore": [
    ".*\/__raw__"
  ],
  "plugins": [ 
    "@babel/plugin-proposal-optional-chaining",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
