.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  background-color: paleturquoise;
  grid-gap: 5px;
  border-radius: 8px;
  border-style: groove;
  box-shadow: 0 0 5px rgba(#000, 0.3);
  grid-template-areas: 
  "cd n n"
  "ct pos q"
  "img des des";
}

.code{
  grid-area: cd;
  place-self: center;
}

.name{
  grid-area: n;
  place-self: center;
  
}
.name::before{
  content: "Name of product : ";
  font-weight: bold;
}

.category{
  grid-area: ct;
  place-self: center;
}
.category::before{
  content: "Choose category : ";
  font-weight: bold;
}

.position{
  grid-area: pos;
  place-self: center;
}
.position::before{
  content: "Position of product : ";
  font-weight: bold;
}

.quantity{
  grid-area: q;
  place-self: center;
}
.quantity::before{
  content: "Starting quantity of product : ";
  font-weight: bold;
}

.image{
  grid-area: img;
  place-self: center;
}
.image::before{
  content: "Path of image : ";
  font-weight: bold;
}

.description{
  grid-area: des;
  place-self: center;
}
.description::before{
  content: "Write the description of product : ";
  font-weight: bold;
}

.quantity_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex_item{
  justify-self: center;
}

.image_inner {
  width: 300px;
  height: 300px;
  object-fit: contain;
}